<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        /* --- COPIED ANNAPURNA STYLES --- */
        body {
            /* Using the background from the first page layout */
            background-image: url("/images/background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        h1 {
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }
        /* Fixed positioning layout */
        .container1 {
            position: fixed;
            left: 50px;
            top: 150px;
            color: white;
        }
        .container2 {
            position: fixed;
            left: 300px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .video {
            position: fixed;
            left: 700px;
            top: 150px;
            color: white;
            width: 300px;
            text-align: justify;
            text-justify: inter-word;
        }
        .wanttogo {
            position: fixed;
            left: 30px;
            top: 470px;
        }
        #my {
            zoom: 110%;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bali Island</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="/Stylesheets/css_home/libs.bundle.css" />

    <link rel="stylesheet" href="/Stylesheets/css_home/theme.bundle.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <noscript>
        <style>
          .simplebar-content-wrapper {
            overflow: auto;
          }
        </style>
    </noscript>
</head>
<body>
    <div class="position-relative z-index-30">
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom mx-0 p-0 flex-column border-0 position-absolute w-100 z-index-30 bg-transparent navbar-dark navbar-transparent bg-white-hover transition-all">
            <div class="w-100 pb-lg-0 pt-lg-0 pt-4 pb-3">
                <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap">

                    <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0" href="/home">
                        <div class="d-flex align-items-center">
                            <div class="f-w-6 d-flex align-items-center me-2 lh-1">
                                <i class="ri-mountain-line ri-lg"></i> 
                            </div>
                            <span class="fs-5">Bali</span>
                        </div>
                    </a>

                    <div class="ms-5 flex-shrink-0 collapse navbar-collapse navbar-collapse-light w-auto flex-grow-1" id="navbarNavDropdown">
                        <button class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 position-absolute top-0 end-0 mt-3 me-2"
                            data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <i class="ri-close-circle-line ri-2x"></i>
                        </button>

                        <ul class="navbar-nav py-lg-2 mx-auto">
                            <li class="nav-item me-lg-4"><a class="nav-link fw-bolder py-lg-4" href="/home">Home</a></li>
                            <li class="nav-item me-lg-4"><a class="nav-link fw-bolder py-lg-4" href="/want-to-go">Want To Go</a></li>
                            <li class="nav-item dropdown me-lg-4">
                                <a class="nav-link fw-bolder dropdown-toggle py-lg-4" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">Categories</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="/hiking">Hiking</a></li>
                                    <li><a class="dropdown-item" href="/islands">Islands</a></li>
                                    <li><a class="dropdown-item" href="/cities">Cities</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <ul class="list-unstyled mb-0 d-flex align-items-center">
                        <li class="d-inline-block d-lg-none">
                            <button class="btn btn-link px-2 text-decoration-none navbar-toggler border-0 d-flex align-items-center"
                                    data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="ri-menu-line ri-lg align-middle"></i>
                            </button>
                        </li>
                        <li class="ms-1 d-inline-block">
                            <button class="btn btn-link px-2 text-decoration-none d-flex align-items-center" data-pr-search>
                                <i class="ri-search-2-line ri-lg align-middle"></i>
                            </button>
                        </li>
                        <li class="ms-1 d-none d-lg-inline-block"><a class="btn btn-link px-2 py-0 text-decoration-none d-flex align-items-center" href="#"><i class="ri-heart-line ri-lg align-middle"></i></a></li>
                        <li class="ms-1 d-none d-lg-inline-block"><a class="btn btn-link px-2 text-decoration-none d-flex align-items-center" href="#"><i class="ri-user-line ri-lg align-middle"></i></a></li>
                        <li class="ms-1 d-inline-block position-relative">
                            <button class="btn btn-link px-2 text-decoration-none d-flex align-items-center disable-child-pointer"
                                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                                <i class="ri-shopping-cart-2-line ri-lg align-middle position-relative z-index-10"></i>
                                <span class="fs-xs fw-bolder f-w-5 f-h-5 bg-orange rounded-lg d-block lh-1 pt-1 position-absolute top-0 end-0 z-index-20 mt-2 text-white">2</span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container1">
        <img id="image" src="/images/bali.png" width="193" height="300" alt="Bali Island">
    </div>

    <div class="container2">
        Also known as the Land of the Gods, Bali appeals through its sheer natural beauty of looming volcanoes and lush terraced rice fields that exude peace and serenity. It is also famous for surfers' paradise.
    </div>

    <form method="POST" action="/want-to-go" class="container1 wanttogo">
        <input type="hidden" name="destination" value="bali">
        <button type="submit" id="add-bali-btn" class="btn btn-sm btn-outline-primary w-100">
            Add to Want to Go
        </button>
    </form>

    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/BFS9n4B_2xA?si=R8XNUoDTo1N_h1HK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
<script>
async function addToWantToGo(slug, button) {
    try {
        const res = await fetch('/wanttogo/add', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ slug })
        });

        const text = await res.text();
        if (res.ok) {
            button.innerText = "Added!";
            button.disabled = true;
        } else {
            alert(text);
        }
    } catch(err) {
        console.error(err);
        alert("Error adding destination");
    }
}
</script>

    <script src="/javascript/js_home/vendor.bundle.js"></script>
    <script src="/javascript/js_home/theme.bundle.js"></script>
</body>
</html>