<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("/images/background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }
        .container1, .container2 {
            position: fixed;
            top: 150px;
            color: white;
        }
        .container1 { left: 50px; }
        .container2 { left: 300px; }
        #label1, #label2 { position: relative; }
        #inca, #annapurna { position: relative; left: 50px; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiking</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- Hiking Destinations -->
    <div class="container1">
        <img src="/images/inca.png" width="193" height="300">
        <br>
        <label class="ml-4 my-2">Inca Trail to Machu Picchu</label>
        <br>
        <button class="btn btn-success ml-3" onclick="addToWantToGo('inca', this)">Want To Go</button>
        <button type="button" onclick="location.href='/inca';" class="btn btn-secondary ml-3">View</button>
    </div>

    <div class="container2">
        <img src="/images/annapurna.png" width="193" height="300">
        <br>
        <label class="ml-4 my-2">Annapurna Circuit</label>
        <br>
        <button class="btn btn-success ml-3" onclick="addToWantToGo('annapurna', this)">Want To Go</button>
        <button type="button" onclick="location.href='/annapurna';" class="btn btn-secondary ml-3">View</button>
    </div>

    <script>
        async function addToWantToGo(slug, button) {
            try {
                const res = await fetch('/wanttogo/add', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ slug })
                });

                const text = await res.text();
                
                if (res.ok) {
                    button.innerText = "Added!";
                    button.disabled = true;
                } else {
                    alert(text); // shows error if destination already exists
                }
            } catch (err) {
                console.error(err);
                alert("Error adding destination");
            }
        }
    </script>
</body>
</html>
