<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiking</title>

    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Theme styles -->
    <link rel="stylesheet" href="/Stylesheets/css_home/libs.bundle.css" />
    <link rel="stylesheet" href="/Stylesheets/css_home/theme.bundle.css" />

    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <style>
        body {
            background-image: url("/images/background3.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-color: #333;
        }

        .container1, .container2 {
            position: fixed;
            top: 150px;
            color: white;
        }

        .container1 { left: 50px; }
        .container2 { left: 300px; }

        #inca, #annapurna {
            padding: 0.375rem 0.75rem !important;
            font-size: 1rem !important;
            border-radius: 0.25rem !important;
        }

        /* Optional: smooth hover dropdown */
        .navbar .dropdown-menu {
            transition: all 0.2s;
        }
    </style>
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white border-bottom mx-0 p-0 flex-column border-0 position-absolute w-100 z-index-30 bg-transparent navbar-dark navbar-transparent bg-white-hover transition-all">
    <div class="container-fluid">

       <a class="navbar-brand fw-bold fs-3 m-0 p-0 flex-shrink-0" href="/home">
                    <div class="d-flex align-items-center">
                        <div class="f-w-6 d-flex align-items-center me-2 lh-1">
                            <!-- SVG Logo here -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194 194"><path fill="currentColor" class="svg-logo-white" d="M47.45,60l1.36,27.58,53.41-51.66,50.87,50,3.84-26L194,100.65V31.94A31.94,31.94,0,0,0,162.06,0H31.94A31.94,31.94,0,0,0,0,31.94v82.57Z"/><path fill="currentColor" class="svg-logo-dark" d="M178.8,113.19l1,34.41L116.3,85.92l-14.12,15.9L88.07,85.92,24.58,147.53l.93-34.41L0,134.86v27.2A31.94,31.94,0,0,0,31.94,194H162.06A31.94,31.94,0,0,0,194,162.06V125.83Z"/></svg>
                        </div>
                        <span class="fs-5">HoneyPotters</span>
                    </div>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mx-auto">

                <li class="nav-item">
                    <a class="nav-link fw-bolder" href="/home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link fw-bolder" href="/wanttogo">Want To Go</a>
                </li>

                <!-- DROPDOWN -->
                <li class="nav-item dropdown">
    <a class="nav-link fw-bolder dropdown-toggle"
       href="javascript:void(0)"
       role="button"
       data-toggle="dropdown"
       aria-haspopup="true"
       aria-expanded="false">
        Categories
    </a>

    <div class="dropdown-menu">
        <a class="dropdown-item" href="/categories">All Categories</a>
        <a class="dropdown-item" href="/hiking">Hiking</a>
        <a class="dropdown-item" href="/islands">Islands</a>
        <a class="dropdown-item" href="/cities">Cities</a>
    </div>
</li>

            </ul>

            <a href="/searchresults" class="btn btn-link px-2 text-decoration-none d-flex align-items-center">
                 
                            <i class="ri-search-2-line ri-lg align-middle"></i>
            </a>
        </div>
    </div>
</nav>

<!-- CONTENT -->
<div class="container1">
    <img src="/images/Inca_Trail.png" width="193" height="300"><br>
    <label class="ml-4 my-2">Inca Trail to Machu Picchu</label><br>
    <button onclick="location.href='/Inca_Trail';" id="inca" class="btn btn-secondary ml-3">View</button>
</div>

<div class="container2">
    <img src="/images/Annapurna_Circuit.png" width="193" height="300"><br>
    <label class="ml-4 my-2">Annapurna Circuit</label><br>
    <button onclick="location.href='/Annapurna_Circuit';" id="annapurna" class="btn btn-secondary ml-3">View</button>
</div>

<!-- JS (ORDER MATTERS) -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Hover Dropdown -->
<script>
$(function () {
    if (window.innerWidth > 992) {  // Desktop only
        $('.navbar .dropdown').hover(
            function () {
                $(this).addClass('show');
                $(this).find('.dropdown-menu').addClass('show');
            },
            function () {
                $(this).removeClass('show');
                $(this).find('.dropdown-menu').removeClass('show');
            }
        );

        // Disable click toggle on desktop
        $('.navbar .dropdown-toggle').click(function(e){
            e.preventDefault();
        });
    }
});
</script>

</body>
</html>
