<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body style="background-image:url('background3.jpg'); background-size:100%">

<nav class="navbar navbar-dark bg-dark mb-4">
  <span class="navbar-brand">Search Results</span>

  <!-- SEARCH BAR (available on all pages except login/register) -->
  <form method="POST" action="/search" class="form-inline ml-auto">
    <input class="form-control mr-2" name="search" type="search" placeholder="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</nav>

<div class="container text-white">

  <% if (message) { %>
    <h3 class="text-danger text-center"><%= message %></h3>
  <% } %>

  <% if (results.length > 0) { %>
    <ul class="list-group">
      <% results.forEach(dest => { %>
        <li class="list-group-item">
          <a href="/<%= dest.slug %>">
            <strong><%= dest.name %></strong>
          </a>
          <p class="mb-0"><%= dest.description %></p>
        </li>
      <% }) %>
    </ul>
  <% } %>

</div>
</body>
</html>
